%%%-------------------------------------------------------------------
%%% Created : 20 Dec 2012 by Anton I Alferov <casper@ubca-dp>
%%%-------------------------------------------------------------------

[{sehs, [
	{config, [{listen, {port, 8080}}, {logging, {file, "sehs.log"}}]},
	{request_handler, {simple_handler, handle_request}},
	{log_handler, {simple_handler, log_report, log_file}}
]}].
