%%%-------------------------------------------------------------------
%%% Created: 21 Dec 2012 by Anton I Alferov <casper@ubca-dp>
%%%-------------------------------------------------------------------

[{httpserver, [
	{config_file, "../../../cfg/websbsn.conf"},
	{request_handler, {empty_handler, handle_request}},
	{log_handler, {empty_handler, log_report, log_file}}
]}].
